

  /* ----------------------------------------------------------------
       [ About portfolio ]
  -----------------------------------------------------------------*/
  .c-about-portfolio__filtering {
    margin: 0 5px;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
  }
  .works .filtering .active {
    background: #111;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  .works .item-img {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
  }
  .works .item-img:hover .item-img-overlay {
    transform: scale(1, 1);
    opacity: 1;
    transition: opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0s;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .works .item-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .5s;
  }
  .works .item-img-overlay .icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #f7f7f7;
    margin: 15px 5px 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .works .item-img-overlay .icon:hover {
    background: #111;
    color: #fff;
  }
  .works .item-img-overlay .icon:before {
    line-height: 2;
  }
  
  /* ----------------------------------------------------------------
       [ End About portfolio ]
  -----------------------------------------------------------------*/