
  /* ----------------------------------------------------------------
       [ About us Services ]
  -----------------------------------------------------------------*/
  .c
  {
    &-about-services 
    {
        &__item
        {
          background: #fff;
          box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 30px;

          h6
          {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        &__icon
        {
          color: #555;
          font-size: 30px;
          margin-bottom: 40px;
          position: relative;
          z-index: 3;

          &::after
          {
            border-radius: 50%;
            background: #fafafa;
            background: linear-gradient(to right, transparent, #fafafa);
            content:'';
            position: absolute;
            top: 0;
            left: 5px;
            width: 50px;
            height: 50px;
            z-index: -1;
          }
        }
    }
  }

    
  /* ----------------------------------------------------------------
       [ About us services ]
  -----------------------------------------------------------------*/