/* ----------------------------------------------------------------
       [ 09 Start Blog ]
  -----------------------------------------------------------------*/


/* ----------------------------------------------------------------
     [ Seccion blog]
-----------------------------------------------------------------*/

.c-bk-blog {
    &__post-img {
        .img {
            overflow: hidden;
        }
        &:hover {
            img {
                transform: scale(1.1, 1.1);
            }
        }
        img {
            transition: all .5s;
            display: block;
            height: 150px;
            object-fit: cover;
            object-position: center center;
        }
    }
    &__cont {
        padding: 30px;
    }
    &__category {
        margin-bottom: 20px;
        display: block;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
        &__item {
            color: #fff;
            background: #1469aa;
            padding: 6px;
            float: left;
            font-size: 0.9rem;
            margin: 0 3% 10px 0;
            &:hover {
                color: #fff;
            }
        }
    }
    &__enlace {
        background: #00B1EB;
        border: 1px solid #00B1EB;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        margin-top: 15px;
        margin: 30px 0px 30px;
        padding: 10px 20px;
        transition: all .5s
    }
    &__item {
        box-shadow: 0px 8px 20px rgba(0, 0, 0, .05);
        background: #fff;
        clear: both;
        overflow: hidden;
        .info {
            margin-bottom: 10px;
            a {
                color: #888;
                font-size: 12px;
                margin: 0 5px 5px;
                &:after {
                    content: '/';
                    position: relative;
                    margin-left: 10px;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        h6 {
            line-height: 2;
            margin-bottom: 15px;
        }
    }
}


/* ----------------------------------------------------------------
       [ End Blog ]
  -----------------------------------------------------------------*/