/* ----------------------------------------------------------------
       [ Start Contact ]
  -----------------------------------------------------------------*/

#contact {
    background: #ccc;
    opacity: 0.9;
}

.contact .form input,
.contact .form textarea {
    background: #fafafa;
    border: 0;
    border-radius: 5px;
    padding: 20px 15px;
    margin-bottom: 10px;
    width: 100%;
}

.contact .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}

.contact .form button {
    background: #00B1EB;
    border: 1px solid #00B1EB;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 40px;
    transition: all .5s;
    margin-top: 15px;
}

.contact .form button:hover {
    color: #fff;
    border: 1px solid #008bb8;
    background: #008bb8;
}

.o-form-mensaje {
    line-height: 50px;
    display: none;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
    color: #fff;
}

.o-form-mensaje__cancel {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: -41px;
}


/* ----------------------------------------------------------------
       [ End Contact ]
  -----------------------------------------------------------------*/