
  /* ----------------------------------------------------------------
       [Start Footer ]
  -----------------------------------------------------------------*/
  footer {
    padding: 80px 0 0;
  }
  footer .item {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .item .icon {
    color: #999;
    font-size: 30px;
    margin-bottom: 15px;
  }
  footer .item h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  footer .item p {
    font-weight: 400;
    letter-spacing: 1px;
  }
  footer .sub-footer {
    background: #444;
    padding: 30px 0;
    margin-top: 50px;
  }
  footer .social {
    margin-bottom: 10px;
  }
  footer .social a {
    font-size: 14px;
    margin: 0 10px;
    color: #eee;
  }
  footer .copy p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* ----------------------------------------------------------------
       [ End Footer ]
  -----------------------------------------------------------------*/