 /* ----------------------------------------------------------------
       [Start Navbar ]
  -----------------------------------------------------------------*/
 
 .c {
     &-navbar {
         background: transparent;
         position: absolute;
         left: 0;
         min-height: 80px;
         top: 0;
         width: 100%;
         z-index: 9;
         &__icon-bar {
             color: #fff;
         }
         &__nav-link {
             font-size: 13px;
             font-weight: 500;
             color: #eee;
             letter-spacing: .5px;
             margin: 15px 5px;
             transition: all .5s;
             position: relative;
             &::after {
                 background: #fff;
                 bottom: -5px;
                 content: '';
                 opacity: 0;
                 position: absolute;
                 left: calc(50% - 15px);
                 transition: all .5s;
                 width: 30px;
                 height: 1px;
             }
         }
     }
 }
 
 .c-navbar__nav-link {
     color: #fff;
     &:hover {
         color: #fff;
     }
 }
 
 .nav-scroll .c-navbar__nav-link {
     @include md {
         color: #111;
         &::after {
             background: #111;
         }
     }
 }
 
 .navbar .navbar-nav .active:after {
     bottom: 0px;
     opacity: 1;
 }
 
 .nav-scroll {
     background: #fff;
     box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
     padding: 0;
     position: fixed;
     top: -100px;
     left: 0;
     width: 100%;
     transition: -webkit-transform .5s;
     transition: transform .5s;
     transition: transform .5s, -webkit-transform .5s;
     transform: translateY(100px);
 }
 
 .c-navbar__icon-bar {
     color: #222 !important;
 }
 
 .nav-scroll .navbar-nav .nav-link {
     color: #222;
 }
 
 .nav-scroll .navbar-nav .nav-link:after {
     background: #222;
 }
 
 .nav-scroll .navbar-nav .logo {
     padding: 15px 0;
     color: #111;
 }
 
 .companylogo {
     padding: 15px 0;
     width: 100px;
     color: #fff;
     font-size: 20px;
 }
 /* ----------------------------------------------------------------
       [ End Navbar ]
  -----------------------------------------------------------------*/