* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
  }
  
  body {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.3;
    overflow-x: hidden !important;
  }
  
  p {
    font-size: 14px;
    font-weight: 300;
    color: #8a8a8a;
    line-height: 2;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  